<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CA接口测试用例">
    <test name="说明：1 预期结果前面显法false_表示预期结果不是后面的值;2 用例描述中显示值为空时，表示参数值为空字符串">
        <classes>
            <class name="com.tsa.ra.testcase.RaTestCase">
                <methods>
                    <include name="caTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
<!--        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
<!--        <listener class-name="com.tester.extend.demo.ExtentTestNGIReporterListenerOld"/>-->
        <listener class-name="com.tsa.extentreportdemo.listener.MyExtentTestNgFormatter"/>
    </listeners>
</suite>